---
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogCard from "../../../components/BlogCard.astro";
import Pagination from "../../../components/Pagination.astro";

import { PAGE_SIZE } from "../../../const";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const blogs = await getCollection("blog");
    const uniqueAuthors = [
        ...new Set(blogs.flatMap((blog) => blog.data.authors)),
    ];

    return uniqueAuthors.flatMap((author) => {
        const filteredPosts = blogs.filter((blog) =>
            blog.data.authors.includes(author),
        );
        const sortedPosts = filteredPosts.sort(
            (a, b) =>
                b.data.publishDate.getTime() - a.data.publishDate.getTime(),
        );

        return paginate(sortedPosts, {
            params: { author },
            pageSize: PAGE_SIZE,
        });
    });
}

const { page } = Astro.props as { page: Page<CollectionEntry<"blog">> };
const { author } = Astro.params;

const allPages = [...Array(page.lastPage).keys()].map((num) => {
    return `/authors/${author}${num === 0 ? "" : `/${String(num + 1)}`}`;
});

const pageTitle = "All Blogs";
---

<BaseLayout title={pageTitle} description={""}>
    <div
        class="grid w-full gap-14 md:grid-cols-2 lg:grid-cols-3 md:gap-x-6 md:gap-y-12"
    >
        {
            page.data.map((blog, index) => (
                <BlogCard
                    fetchPriority={index < 3 ? "high" : "auto"}
                    url={blog.id}
                    image={blog.data.image}
                    alt={blog.data.imageAlt}
                    title={blog.data.title}
                    description={blog.data.description}
                    tags={blog.data.tags}
                    publishDate={blog.data.publishDate}
                    priority={index === 0}
                    imageLoading={index <= 3 ? "eager" : "lazy"}
                />
            ))
        }
    </div>

    <Pagination allPages={allPages} page={page} />
</BaseLayout>
