---
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import Pagination from "../../components/Pagination.astro";

import { PAGE_SIZE } from "../../const";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = await getCollection("blog");

    const sortedPosts = posts.sort(
        (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
    );
    return paginate(sortedPosts, { pageSize: PAGE_SIZE });
}

const { page } = Astro.props as { page: Page<CollectionEntry<"blog">> };

const allPages = [...Array(page.lastPage).keys()].map((num) => {
    return `/blog${num === 0 ? "" : `/${String(num + 1)}`}`;
});

const pageTitle = "All Blogs";
---

<BaseLayout title={pageTitle}>
    <h1 class="text-4xl font-semibold tracking-tight text-gray-900 mb-8">
        All Blogs
    </h1>

    <div
        class="grid w-full gap-14 md:grid-cols-2 lg:grid-cols-3 md:gap-x-6 md:gap-y-12"
    >
        {
            page.data.map((blog, index) => (
                <BlogCard
                    fetchPriority={index < 3 ? "high" : "auto"}
                    url={blog.id}
                    image={blog.data.image}
                    alt={blog.data.imageAlt}
                    title={blog.data.title}
                    description={blog.data.description}
                    tags={blog.data.tags}
                    publishDate={blog.data.publishDate}
                    priority={index < 3}
                    imageLoading={index <= 4 ? "eager" : "lazy"}
                />
            ))
        }
    </div>

    <Pagination allPages={allPages} page={page} />
</BaseLayout>
