---
import type { GetStaticPathsOptions } from "astro";
import type { Page } from "astro";

import BlogCard from "../../../components/BlogCard.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Pagination from "../../../components/Pagination.astro";

import { PAGE_SIZE } from "../../../const";

import { formatTag } from "../../../lib/utils";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const blogs = await getCollection("blog");

    const uniqueTags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];

    return uniqueTags.flatMap((tag) => {
        const filteredBlogs = blogs.filter((blog) =>
            blog.data.tags.includes(tag),
        );
        const sortedPosts = filteredBlogs.sort(
            (a, b) =>
                b.data.publishDate.getTime() - a.data.publishDate.getTime(),
        );
        return paginate(sortedPosts, { params: { tag }, pageSize: PAGE_SIZE });
    });
}

const { tag } = Astro.params;
const { page } = Astro.props as { page: Page<CollectionEntry<"blog">> };

const allPages = [...Array(page.lastPage).keys()].map((num) => {
    return `/tags/${tag}${num === 0 ? "" : `/${String(num + 1)}`}`;
});
---

<BaseLayout title={`Tags: ${tag}`}>
    <h1 class="text-4xl font-semibold tracking-tight capitalize">
        {formatTag(tag)}
    </h1>
    <div
        class="mt-8 grid w-full gap-14 md:grid-cols-2 lg:grid-cols-3 md:gap-x-6 md:gap-y-12"
    >
        {
            page.data.map((blog, index) => (
                <BlogCard
                    fetchPriority={index === 0 ? "high" : "auto"}
                    publishDate={blog.data.publishDate}
                    image={blog.data.image}
                    alt={blog.data.imageAlt}
                    title={blog.data.title}
                    description={blog.data.description}
                    url={blog.id}
                    tags={blog.data.tags}
                    imageLoading={index === 0 ? "eager" : "lazy"}
                    priority={index === 0}
                />
            ))
        }
    </div>

    <Pagination allPages={allPages} page={page} />
</BaseLayout>
