---
import { Image } from "astro:assets";
import Pill from "./Pill.astro";

type Props = {
    url: string;
    image: ImageMetadata;
    alt: string;
    title: string;
    description: string;
    tags: string[];
    publishDate: Date;
    imageLoading: "eager" | "lazy";
    priority: boolean;
    fetchPriority: "high" | "auto";
};

const {
    url,
    title,
    description,
    tags,
    image,
    alt,
    imageLoading,
    publishDate,
    priority,
    fetchPriority,
} = Astro.props;
---

<div class="flex flex-col gap-6">
    <Image
        src={image}
        alt={alt}
        loading={imageLoading}
        widths={[380, 720, 960]}
        sizes={"80vw"}
        format="avif"
        class="w-full h-auto aspect-3/2"
        priority={priority}
        fetchpriority={fetchPriority}
    />
    <header class="space-y-2.5">
        <time
            class="font-medium text-sm inline-flex"
            datetime={publishDate.toISOString()}
            >{
                String(
                    publishDate.toLocaleDateString("en-IN", {
                        day: "2-digit",
                        month: "short",
                        year: "numeric",
                    }),
                )
            }</time
        >
        <h2 class="text-2xl text-balance font-bold">
            <a data-astro-prefetch href={`/blog/${url}`}>{title}</a>
        </h2>
        <p class="text-neutral-700 text-pretty line-clamp-3">
            {description}
        </p>
    </header>

    <div class="flex flex-wrap gap-2">
        {tags.map((tag) => <Pill href={`/tags/${tag}`} text={tag} />)}
    </div>
</div>
