---
import BaseLayout from "./BaseLayout.astro";
import { blogSchema } from "../content.config";
import { z } from "astro/zod";
import { Image } from "astro:assets";
import Pill from "../components/Pill.astro";
import Toc from "../components/ToC.astro";
import type { MarkdownHeading } from "astro";
import RSSIcon from "../assets/icons/rss.svg";

type Props = z.infer<ReturnType<typeof blogSchema>> & {
    headings: MarkdownHeading[];
};

const {
    title,
    description,
    publishDate,
    image,
    imageAlt,
    tags,
    authors,
    headings,
} = Astro.props;
---

<BaseLayout title={title} description={description} pageType="article">
    <header class="space-y-4 mb-10 max-w-5xl">
        <time
            class="font-medium inline-flex text-xs text-neutral-900 px-2 py-0.5 rounded-full border border-neutral-900"
            datetime={publishDate.toISOString()}
        >
            {
                publishDate.toLocaleDateString("en-IN", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                })
            }
        </time>
        <h1
            class="text-gray-900 text-pretty text-4xl lg:text-5xl font-semibold tracking-tight capitalize leading-tight"
        >
            {title}
        </h1>
    </header>
    <Image
        src={image}
        alt={imageAlt}
        format="avif"
        loading={"eager"}
        widths={[380, 720, 1216]}
        sizes={"90vw"}
        priority
        class="w-full max-w-304 h-auto aspect-3/2"
    />
    <div class="flex items-center justify-between my-6">
        <p class="text-sm">
            Written by&nbsp;
            <span class="inline-flex flex-wrap gap-2">
                {
                    authors.map((author) => (
                        <Pill
                            classes="text-sm"
                            href={`/authors/${author}`}
                            text={author}
                        />
                    ))
                }
            </span>
        </p>
        <div class="max-sm:hidden flex max-sm:flex-wrap ml-auto gap-2">
            {
                tags.map((tag) => (
                    <Pill classes="text-sm" href={`/tags/${tag}`} text={tag} />
                ))
            }
        </div>
    </div>
    <p class="text-lg text-pretty sm:text-xl text-gray-950 mb-20">
        {description}
    </p>
    <div class="flex max-md:flex-col gap-24">
        <aside class="flex-1 lg:sticky lg:top-1 h-fit bg-white">
            <Toc headings={headings} levels={3} />
            <div
                class="text-sm mt-16 border-y py-4 flex flex-col gap-4.5 max-sm:hidden"
            >
                <div class="space-y-2">
                    <h2 class="font-mono text-base font-medium">Subscribe</h2>
                    <p class="text-gray-800">
                        Stay up-to-date with news from Blog A Brown.
                    </p>
                </div>
                <a
                    href={new URL("rss.xml", Astro.site)}
                    class="border w-fit px-3 py-1 rounded-full inline-flex font-medium items-center gap-2 bg-transparent text-blue-700 transition-colors duration-150 hover:bg-blue-50"
                >
                    <RSSIcon class="size-4.5 stroke-3" />
                    <span>RSS</span>
                </a>
            </div>
        </aside>

        <article class="prose">
            <slot />
        </article>

        <div class="mt-10 border-y py-4 flex flex-col gap-5 sm:hidden">
            <div class="space-y-3.5">
                <h2 class="font-mono font-medium">Subscribe</h2>
                <p>Stay up-to-date with news from Blog A Brown</p>
            </div>
            <a
                href={new URL("rss.xml", Astro.site)}
                class="border w-fit px-4 py-1.5 rounded-full inline-flex text-sm font-medium items-center gap-2 text-amber-600 hover:text-amber-700"
            >
                <RSSIcon class="size-5" />
                <span>RSS</span>
            </a>
        </div>
    </div>
</BaseLayout>
